body {
    background-color:#353A4D;
}

* {
	outline: none;
}

 .title {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #6F74A3;
    font-size: 2.5em;
 }

 #bigtitle {
   font-family: 'Montserrat', sans-serif;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   color: #6F74A3;
   font-size: 2.5em;
}

 #button1 {
   font-family: 'Montserrat', sans-serif;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   color: #8B8CC7;
   font-size: 2em;
   background-color: #686894;
   border-style: solid;
   border-color: #686894;
 }

 #button1:hover {
    background-color: #56567a;
 }

 #button2:hover {
  background-color: #56567a;
}

#button3:hover {
  background-color: #56567a;
}

 #button2 {
   font-family: 'Montserrat', sans-serif;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   color: #8B8CC7;
   font-size: 2em;
   background-color: #686894;
   border-style: solid;
   border-color: #686894;
}

#button3 {
   font-family: 'Montserrat', sans-serif;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   color: #8B8CC7;
   font-size: 2em;
   background-color: #686894;
   border-style: solid;
   border-color: #686894;
}

#buttons {
   margin-top: 20%;
   margin-left: 39%;
 } 

 .text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #6F74A3;
    font-size: 1.5em;
    margin-left:12%;
    margin-right: 12%;
 }

 #copy {
   position: fixed;
   bottom: 0;
   left: 0;
   color:#6474BD;
   font-size: 1em;
 }

::-webkit-scrollbar {
   width: 10px;
 }
 
 ::-webkit-scrollbar-track {
   background: #353A4D 
 }
  
 ::-webkit-scrollbar-thumb {
   background: #434e81;  
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background: #364069; 
 }

 #contacttable {
  margin-left: auto;
  margin-right: auto;
 }