body {
    background-color:#353A4D;
}
 .title {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #6F74A3;
    font-size: 2.5em;
 }

 #button1 {
   font-family: 'Montserrat', sans-serif;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   color: #8B8CC7;
   font-size: 2em;
   background-color: #686894;
   border-style: solid;
   border-color: #686894;
    /*margin-left: 35%;*/
 }

 #button2 {
   font-family: 'Montserrat', sans-serif;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   color: #8B8CC7;
   font-size: 2em;
   background-color: #686894;
   border-style: solid;
   border-color: #686894;
   /*margin-left: 40%;*/
}

#button3 {
   font-family: 'Montserrat', sans-serif;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   color: #8B8CC7;
   font-size: 2em;
   background-color: #686894;
   border-style: solid;
   border-color: #686894;
   /*margin-left: 45%;*/
}

.buttons {
   margin-top: 20%;
   margin-left: 39%;
 } 

 .text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #6F74A3;
    font-size: 1.5em;
 }

 #copy {
   position: fixed;
   bottom: 0;
   left: 0.5;
   width: 300px;
   color:#6474BD;
 }