* {
    font-family: 'Comfortaa', cursive;
    color: white;
}

.Center {
    margin-left: 45%;
}

html {
    background-image: url("images/galaxy-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

body {
    background-color: rgb(37, 37, 37);
    background-size: 150, 100%;
}